.tabs-filter .tabs-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
}

.tabs-filter .tabs-filter-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 8px 16px;
  background-color: var(--text-color);
  color: var(--background-color);
  font-weight: 400;
  line-height: unset;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tabs-filter .tabs-filter-list button[aria-selected='false'] {
  background-color: transparent;
  color: var(--text-color);
}

.tabs-filter .tabs-filter-list button:hover,
.tabs-filter .tabs-filter-list button:focus-visible {
  background-color: var(--text-color);
  color: var(--background-color);
}
